################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OneNotePageSearcher/bin
/OneNotePageSearcher/obj
/.vs
/OneNotePageSearcher/publish
