################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OneNotePageSearcher/bin
/OneNotePageSearcher/obj
/OneNotePageSearcher/deep_learning.xml
/OneNotePageSearcher/NLP.one (On 11-19-2017).one
