<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LastIndexTime" value="2018-06-18T08:56:47.000Z"/>
    <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
</configuration>