<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net45" />
  <package id="ICU4N" version="60.1.0-alpha.53" targetFramework="net45" />
  <package id="ICU4N.Collation" version="60.1.0-alpha.53" targetFramework="net45" />
  <package id="ICU4N.CurrencyData" version="60.1.0-alpha.53" targetFramework="net45" />
  <package id="ICU4N.LanguageData" version="60.1.0-alpha.53" targetFramework="net45" />
  <package id="ICU4N.RegionData" version="60.1.0-alpha.53" targetFramework="net45" />
  <package id="ICU4N.Transliterator" version="60.1.0-alpha.53" targetFramework="net45" />
  <package id="Lucene.Net" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.Analysis.Common" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.Analysis.SmartCn" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.Highlighter" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.ICU" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.Memory" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.Queries" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.QueryParser" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="Lucene.Net.Sandbox" version="4.8.0-beta00006" targetFramework="net45" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>